
<div class="container-fluid mt-5">

  <div class="row">
    <div class="col">
        <h2>
            Employee Management
          </h2>
    </div>

  </div>

  <div class="row mt-5">

    <div class="col-6">
      <app-employee-detail></app-employee-detail>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">
              <input type="button" class="btn btn-primary" [value]="btnText" (click)="showEmployee()" title="Show employee list" />
            </div>
          </div>
      <router-outlet></router-outlet>
      <!-- <app-employee-list></app-employee-list> -->
    </div>
  </div>


</div>


